<spacer size="40"></spacer>

<row class="collapse">
  <columns>
    <div class="footer">
      <div class="footer__info">
        <span class="signature">С уважением,</span> <br>
        <a href="#" class="link signature">onlinegibdd.ru</a>
      </div>

      <div class="footer__links">
        <a href="#">
          <img src="../assets/img/yt.png" alt="youtube">
        </a>
        <a href="#">
          <img src="../assets/img/insta.png" alt="insta">
        </a>
        <a href="#">
          <img src="../assets/img/tg.png" alt="telegram">
        </a>
        <a href="#">
          <img src="../assets/img/vk.png" alt="vKontakte">
        </a>
        <a href="#">
          <img src="../assets/img/fb.png" alt="FaceBook">
        </a>
        <a href="#">
          <img src="../assets/img/ok.png" alt="Odnoklassniki">
        </a>
      </div>
    </div>
    
  </columns>
</row>

<spacer size="32"></spacer>