<row>
  <columns>
    <p class="font-size-20 line-height-24">Неоплаченные штрафы:</p>
  </columns>
</row>

<spacer size="16"></spacer>

<row>
  <columns>
    <span class="font-size-16 grey bold v-middle">KIA ceed </span>
    <span class="font-size-16 bold v-middle">а000ее</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span> 

    <span class="font-size-16 grey bold v-middle">СТС </span>
    <span class="font-size-16 bold v-middle">98345485738</span>
  </columns>
</row>

<spacer size="12"></spacer>

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">0355431010119012800084317</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="font-size-16 mb-2 bold text-right">2 500,
      <span class="grey"> 00 ₽</span>
    </p>
    <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p>
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 2 -->
<row>
  <columns>
    <span class="font-size-16 grey bold v-middle"></span>
    <span class="font-size-16 bold v-middle">м990ом</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span> 

    <span class="font-size-16 grey bold v-middle">СТС </span>
    <span class="font-size-16 bold v-middle">9904817004</span>
  </columns>
</row>

<spacer size="12"></spacer>

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 13.02.2020</p>
    <p class="font-size-14 line-height-20">10673342203472852967</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="font-size-16 mb-2 bold text-right">5 000,
      <span class="grey"> 00 ₽</span>
    </p>
    <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p>
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 3 -->

<row>
  <columns>
    <!-- <span class="font-size-16 grey bold v-middle"></span>
    <span class="font-size-16 bold v-middle"></span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span>  -->

    <span class="font-size-16 grey bold v-middle">СТС </span>
    <span class="font-size-16 bold v-middle">4859345834</span>
  </columns>
</row>

<spacer size="12"></spacer>

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">0355431010119012800084317</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr" valign="bottom">
    <p class="font-size-16 mb-8 bold text-right">2 500,
      <span class="grey"> 00 ₽</span>
    </p>
    <!-- <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p> -->
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 4 -->

<row>
  <columns>
    <!-- <span class="font-size-16 grey bold v-middle">KIA ceed </span>
    <span class="font-size-16 bold v-middle">а000ее</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span>  -->

    <span class="font-size-16 grey bold v-middle">ИНН </span>
    <span class="font-size-16 bold v-middle">9904817004</span>

    <span class="font-size-14 line-height-24 info">Штраф на организацию</span>
  </columns>
</row>

<spacer size="12"></spacer>

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">0355431010119012800084317</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="font-size-16 mb-2 bold text-right">2 500,
      <span class="grey"> 00 ₽</span>
    </p>
    <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p>
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 5 -->

<!-- <row>
  <columns>
    <span class="font-size-16 grey bold v-middle">KIA ceed </span>
    <span class="font-size-16 bold v-middle">а000ее</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span> 

    <span class="font-size-16 grey bold v-middle">ИНН </span>
    <span class="font-size-16 bold v-middle">9904817004</span>

    <span class="font-size-14 line-height-24 info">Штраф на организацию</span>
  </columns>
</row>

<spacer size="12"></spacer> -->

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">11111431010119012809808080</p>
  </columns>

  <columns class="column-pr" large="2">
    <!-- <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p> -->
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr" valign="bottom">
    <p class="font-size-16 mb-8 bold text-right">2 500,
      <span class="grey"> 00 ₽</span>
    </p>
    <!-- <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p> -->
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 6 -->

<!-- <row>
  <columns>
    <span class="font-size-16 grey bold v-middle">KIA ceed </span>
    <span class="font-size-16 bold v-middle">а000ее</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span> 

    <span class="font-size-16 grey bold v-middle">ИНН </span>
    <span class="font-size-16 bold v-middle">9904817004</span>

    <span class="font-size-14 line-height-24 info">Штраф на организацию</span>
  </columns>
</row>

<spacer size="12"></spacer> -->

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">11111431010119012809808080</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr" valign="bottom">
    <p class="font-size-16 mb-8 bold text-right">1 500,
      <span class="grey"> 00 ₽</span>
    </p>
    <!-- <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p> -->
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 7 -->

<row>
  <columns>
    <!-- <span class="font-size-16 grey bold v-middle">KIA ceed </span>
    <span class="font-size-16 bold v-middle">а000ее</span>

    <span class="v-txt-bottom ml-2 mr-2">
      <img src="../assets/img/dot.png" class="img">
    </span>  -->

    <span class="font-size-16 grey bold v-middle">ИНН </span>
    <span class="font-size-16 bold v-middle">9904817004</span>

    <span class="font-size-14 line-height-24 info">
      <span class="grey bold">СТС </span>
      <span class="bold">9904817004</span>
      Автомобиль не стоит на мониторинге</span>
  </columns>
</row>

<spacer size="12"></spacer>

<row class="border-bottom">
  <columns class="column-pr" large="5">
    <p class="grey font-size-14 line-height-20 mb-4">Постановление от 28.02.2020</p>
    <p class="font-size-14 line-height-20">0355431010119012800084317</p>
  </columns>

  <columns class="column-pr" large="2">
    <p class="grey font-size-14 line-height-20 mb-4">Нарушение</p>
    <p class="font-size-14 line-height-20">12.02.2020</p>
  </columns>

  <columns class="column-pr">
    <p class="grey font-size-14 line-height-20 mb-4">Оплатить до</p>
    <p class="font-size-14 line-height-20">23.04.2020</p>
  </columns>

  <columns class="column-pr" valign="bottom">
    <p class="font-size-16 mb-8 bold text-right">500,
      <span class="grey"> 00 ₽</span>
    </p>
    <!-- <p class="font-size-14 line-height-20 success text-right">-50% до 29.05</p> -->
    
  </columns>
  
</row>

<row>
  <columns large="12">
    <hr class="line">
  </columns>
</row>

<!-- table row 8 -->